.*.swp

.project
.settings/
.idea/

.bem/cache
.bem/snapshots
.enb/tmp
node_modules
npm-debug.log
libs
.libs-*


/coverage
/coverage.json
/gemini-report/

/dist
/*.docs
/*.examples
/*.specs
/*.tests
/*.sets
/*.tmpl-specs
